<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="main.css">
    <title>Information</title>
</head>
<body>
<h3>Click on the "View" button if you want to see the tickets that have prices between 350 and 450 euros.</h3>
<button onclick="BiletInterval()">View</button>
<h3 id="template"></h3>
<h3>List of prices exceeding the amount of 450 euros.</h3>
<button onclick="PreturiMari()">View</button>
<h3 id="preturimari"></h3>
<h3>List of all prices.</h3>
<button onclick="ToatePreturile()">View</button>
<h3 id="toatepreturile"></h3>
<br>

<h4>If you want go back click "Back":</h4>
<button onclick="Bilete1('')">Back</button>
<script src="information.js"></script>
</body>
</html>