<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="main.css">
    <title>Read</title>
</head>
<body onload="Afisare()">
<script src="read.js"></script>
<div id="afisare1"></div>
<h4>If you want create something click "Create":</h4>
<button onclick="Bilete1('create')">Create</button>
<br>
<h4>If you want modify something click "Update":</h4>
<button onclick="Bilete1('update')">Update</button>
<br>
<h4>If you want delete something click "Delete":</h4>
<button onclick="Bilete1('delete')">Delete</button>
<br>
<h4>If you want go back click "Back":</h4>
<button onclick="Bilete1('')">Back</button>
</body>
</html>