<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="main.css">
    <title>Update</title>
</head>
<body>
        <label for="index">Index</label>
        <br>
        <input type="text" id="index" name="index">
        <br>
        <label for="nume">Name</label>
        <br>
        <input type="text" id="nume" name="nume">
        <br>
        <label for="price">Price</label>
        <br>
        <input type="text" id="price" name="price">
        <br>
        <label for="disponibilitate">Availability</label>
        <br>
        <input type="text" id="disponibilitate" name="disponibilitate">
        <br>
        <br>
        <button onclick="Informatii()">Submit</button>
        <br>
        <br>
        <div><%-include("button")-%></div>

<script src="update.js"></script>
</body>
</html>